<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<title>{box} - BoxChat</title>
        <script>
            var global = {};
        </script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script><style type="text/css"></style>
		<script data-main="/client/chat-client.js" src="/client/require.js"></script>
        <link rel="stylesheet" href="/css/indexstyle.css" />
	</head>
	<body onload="goToBottom()">
        <div class="colmask threecol">
            <section id="userbox">
				<!-- Users Box Start -->
                <header>
        	        <h1>BoxChat.{box}</h1>
                </header>
                <h3>Users</h3>
                <ul id="userlist" data-bind="foreach: items">
                    <li data-bind="text: displayName"></li>
                </ul>
                <!-- temporary -->
                <br />
                <h3>Rooms</h3>
                <ul id="roomlist" data-bind="foreach: items">
                    <li><a data-bind="value: name, text: name" onclick="global.changeRoom(this); return false;"></a></li>
                </ul>
                <!-- end temporary -->
                <a tabindex="-1" href="/logout">Log Out</a>
				<!-- Users Box End -->
            </section>
            <section id="messagebox">
                <!-- Message Box Start -->
                <ul id="messages">
                    <li>
                        <span class="messageUserName">bluesledmaster</span>
                        <span class="messageTime">12:42 PM</span>
                        <p>Hello there</p>
                    </li>
                </ul>
                <form id="messageform" action="">
                    <input type="text" name="content" id="m" onkeydown="global.messageFormKeyPress()" autocomplete="off" autofocus />
                </form>
                <div id="usersTyping">
                    <p data-bind="foreach: items">
                        <span data-bind="text: $rawData"></span>
                    </p>
                    <p data-bind="text: typingSuffix"></p>
                </div>
                <!-- Message Box End -->
            </section>
            <section>
                <!-- Column 3 start -->
                <p>This is Column 3! Not sure what will be going here yet!</p>
                <!-- Column 3 end -->
            </section>
        </div>
        <script>
            function goToBottom(appendFunction) {
                var messages = document.getElementById('messages');
                messages.scrollTop = messages.scrollHeight - messages.clientHeight;
            }
            
            function logDaForm(form) {
                var messages = document.getElementById('messages'),
                    isAtBottom = messages.scrollHeight - messages.clientHeight <= messages.scrollTop + 1,
                    newMsg = document.createElement('li');
                    
                // Attach message to #messages
                newMsg.innerText = form.content.value;
                form.content.value = '';
                messages.appendChild(newMsg);
                
                // Put scrollbar at bottom
                if (isAtBottom) {
                    messages.scrollTop = messages.scrollHeight - messages.clientHeight;
                }
                
                // False for no-submit
                return false;
            }
        </script>
    </body>
</html>
