<!DOCTYPE html>
<html>
	<head>
		<title>BoxChat Client</title>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="/socket.io/socket.io.js"></script>
		<script data-main="client/chat-client.js" src="client/require.js"></script>
		<style>
			#messages, #online_users {
				list-style-type: none;
				padding-left: 0;
			}

			#online_users {
				color: #449d44;
			}
		</style>
	</head>
	<body>
		<div id="message-list-box">
			<ul id="messages" style="list-style-type: none;">
			</ul>
            <form action="">
                <input type="text" id="m" autocomplete="off" />
                <button>Send</button>
            </form>
            <a href="/logout">Log Out</a>
		</div>
		<div id="users">
			<ul id="online_users" style="list-style-type: none;">
			</ul>
        </div>
	</body>
</html>
