<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>Complete Your Registration</p>
        <form method='post'>
            <label for="username">Email:</label>
            <input id="username" name="username" type="email" />
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" />
            <label for="displayName">Display Name:</label>
            <input id="displayName" name="displayName" type="text" />
            <input type="submit" />
        </form>
    </body>
</html>
